<div class="card-body px-lg-5" style="margin-top: -5px; font-size: 15px">
  <div class="head">
    <h4 class="text-center head-txt">I love to work Remotely </h4>
  </div>
  <br>
  <br>

  <form class="text-center form-tag" action="https://usebasin.com/f/8c1d772a02dd" method="POST">
    <div class="row">
      <div class="col-md-6 md-form mt-4">
        <input type="text" id="materialSubscriptionFormName" class="form-control inputs" name="fullname">
        <label for="materialSubscriptionFormPasswords" class="titles"> Name</label>
      </div>
      <div class="col-md-6 md-form mt-4">
        <div class="md-form" style="">
          <input type="email" id="materialSubscriptionFormName" class="form-control inputs" name="phone">
          <label for="materialSubscriptionFormPasswords" class="titles">Phone Number</label>
        </div>
      </div>



    </div>

    <div class="row">
      <div class="col-md-6 md-form mt-4">
        <input type="text" id="materialSubscriptionFormName" class="form-control inputs" name="Email">
        <label class="titles"> Email</label>
      </div>
      <div class="col-md-6">

        <label>Project Type</label>
        <div class="input-group mb-3">

          <select class="custom-select" id="inputGroupSelect01">
            <option selected>choose here...</option>
            <option value="1" style="font-size: 10px">Website Design</option>
            <option value="2">Web App</option>
            <option value="3">Mobile App</option>
          </select>
        </div>

      </div>


      <div class="row">
        <div class="col-md-12 text-cont"><br>
          <br>

          <span style="margin-top:20px">Additional Details</span>
          <br>
<br>
          <br>
          <!-- <label for="exampleFormControlTextarea3">Rounded corners</label> -->
          <textarea class="form-control center " id="exampleFormControlTextarea3" rows="5"  name="message"
            class="sizex" placeholder="......." ></textarea>
        </div>
      </div>

    </div>

  </form>
