<nav></nav>
<section class="banner-section">
    <img src="https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg" alt="" style="height: 400px; width: 100%;">
</section>
<section class="post-content-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

                <h1 class="text-center">post Title goes here</h1>
                <ul class="list-inline text-center">
                    <li>Author |</li>
                    <li>Category |</li>
                    <li>Date |</li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <h5 class="font-weight-bold">1. Could not find plugin “proposal-numeric-separator”</h5>
                <p class="lead"> It is a issue with the babel dependencies conflicts between internal packages </p>
                <p>Angular app dependency defines a broad version range of packages and their version update so you want to pin it to an earlier version</p>
                Possible solutions
                <div class="well ">
                    <large><code>npm i @babel/compat-data@7.8.0</code>
                    </large>

                </div>
                <div class="well ">
                    <large><code>Npm install or Yarn install</code>
                    </large>
                </div>
                <div class="well ">
                    <large><code>build - ng build</code>
                    </large>
                </div>
                <h5 class="font-weight-bold">2. An unhandled exception occurred: Job name “..getProjectMetadata” does not exist</h5>
                <p>This happens when there is a problem with @angular-devkit/build-angular.</p>
                <blockquote>
                    <p> To fix is eithe Updating the version or downgrading to that specific version.</p>
                    <footer>For me had this error after npm audit found vulnerabilities <cite title="Source Title">which updated it to 0.9+ </cite></footer>
                </blockquote>
                <div class="well ">
                    <large><code>npm i @angular-devkit/build-angular@0.803.25/24</code>
                    </large>
                </div>
                <div class="well ">
                    <large><code>ng update @angular/cli @angular/core</code>
                    </large>
                </div>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
                        lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                </blockquote>

                <div class="image-block">
                    <img src="https://static.pexels.com/photos/268455/pexels-photo-268455.jpeg" class="img-responsive">
                </div>

                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

            </div>
            <!-- <app-nav-right-side></app-nav-right-side> -->
            <app-nav-right-side></app-nav-right-side>

        </div>


    </div>
    <!-- /container -->
</section>

<section class="footer-link"><a href="" target="_blank">Read more jhsdjj</a></section>