<nav></nav>
<br>
<br>
<div class="hello">
    <!-- <button type="button" class="btn  hire-me" style="text-align:center"   (click)="onHire()" >HIRE ME</button> -->
    <!-- <button mat-raised-button (click)="onHire()">HIRE ME</button> -->
    <!-- <portfolio></portfolio> -->
</div>
<div class="hello">
    <!-- <button type="button"  mat-raised-button class="btn   hire-me  hi" style="text-align:center"   (click)="onModal()" >Say Hello</button> -->
    <!-- <button mat-raised-button (click)="onModal()">Say Hello</button> -->
</div>

<br>

<div class="container-fluid hallo">
    <div class="row">
        <div class="col-12">
            <div class="">
                <!-- <h1 class="display-6 text-center heading tab">{{Id}} - {{Tag}} </h1>  waves-effect-->
                <H3 class="lead text-center head">{{sub_heading}}</H3>
                <!-- <hr class="my-4"> -->
                <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
            </div>
        </div>
    </div>
</div>
<br>
<br>

<br>

<br>


<div class="container">
    <div class="row">
        <div class="col-sm image-in">
            <img class="image center" alt="Kondas Majid" src="../../../assets/kondas.jpg">
        </div>
        <div class="col-sm">
            <br>

            <h4 class="display-6 text-center heading tab"> Kondas Majid </h4>

            <!-- <span class="about">I am hoping to learn more , work hard and build on my career. I have involved lots of my time in
         things i love doing like designing and  writing  codes and I am delighted with the results so far.
        </span> -->
            <span class="about">My dream is to make a positive difference
          with what i love doing.
          Coding . Music & Design.
         </span>
            <br>
            <!-- <p style="text-align:center; color: brown">Email: Kondasmajid@gmail.com</p> -->
            <br>
            <!-- <button type="button" class="btn btn-outline-info btn-rounded waves-effect" style="text-align:center"   (click)="onModal()" >Say Hello</button> -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>

</div>

<div style=" text-align: center">

    <!-- <portfolio></portfolio> -->
</div>

<!-- [routerLink]="['/contact']" -->