<header id="header">
  <div class="container">
    <div class="row">
      <div class="class">
        <h3> <a [routerLink]="['/home']">Home</a> </h3>
      </div>
      <div class="col-sm-6 col-sm-push-6">
        <h4 style="text-align:center">
          Kondas Majid
        </h4>
        <!-- <h2 style="text-align:center">
          Tech Developer
        </h2> -->
      </div>
    </div>
  </div>
</header>
<div id="content" class="container">


  <section id="work" class="row">
    <aside class="col-sm-3">
      <h3>Work</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
       <div class="col-sm-12">
          <h5 class="strike-through">
            <span>Tawo Mobile Technologies</span>
            <span class="date">
              2019 —
            </span>
          </h5>
          <!-- <div class="website pull-right">
            <a href="plegishes.com">plegishes.com</a>
          </div> -->
          <div class="position">
          Junior Software Developer
          </div>
          <div class="summary">
            <!-- <p>PLEGISHES is a contemporary design and developing firm</p> -->
          </div>
          <h5>Highlights</h5>
          <ul class="highlights">
            <li class="bullet">Web Development</li>
            <li class="bullet">Graphic Designing</li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section id="volunteer" class="row">
    <aside class="col-sm-3">
      <h3>Volunteer</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="strike-through">
            <span>Change Attitude GH (NGO)</span>
            <span class="date">
              2016 -17 — 2017
            </span>
          </h5>
          <div class="website pull-right">
            <a href=""></a>
          </div>
          <div class="position">
            Web developer/Research Personal
          </div>
          <div class="summary">
            <p></p>
          </div>
          <h5>Highlights</h5>
          <ul class="highlights">
            <li class="bullet">Worked on sanitation project</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="volunteer" class="row">
    <aside class="col-sm-3">
      <h3>Internship</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="strike-through">
            <span>Multimedia Ghana Limited</span><br><p></p>
            <span><b>Prime Web Technologies <a href="#"></a></b></span>
          </h5>
          <div class="website pull-right">
            <a href=""></a>
          </div>
          <!-- <div class="position">
            Tawo Ghana
          </div> -->
          <div class="summary">
            <p></p>
          </div>
          <!-- <h5>Highlights</h5> -->
          <ul class="highlights">
            <!-- <li class="bullet">Junior Developer</li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="education" class="row">
    <aside class="col-sm-3">
      <h3>Education</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="strike-through">
            <span>Bluecrest University College </span>
            <span class="date">
              2016 — 2020
            </span>
          </h5>
          <div class="area">
            Information Technology ( BSCIT)
          </div>
          <div class="studyType">
            Bachelor's degree
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="awards" class="row">
    <aside class="col-sm-3">
      <h3>Awards</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="strike-through">
            <span>Bluecrest Hackertoon 2018</span>
          </h5>
          <div class="date pull-right">
            <em>Awarded</em>
            Winner(Karius Team)
          </div>
          <div class="awarder">
            <em>by</em>
            <strong> - Mark Mensah</strong>
          </div>
          <div class="summary">

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="skills" class="row">
    <aside class="col-sm-3">
      <h3>Skills</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="name">
            <h5>Web Development</h5>
          </div>
          <ul class="keywords">
            <li></li>
            
            <li>Angular</li>
            <li>Firebase</li>
            <li>Wordpress</li>
            <li>S.E.O</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <div class="name">
            <h5>Design Tools</h5>
          </div>
          <ul class="keywords">
            <li>Adobe Photoshop</li>
            <li>Illustrator</li>
            <li>Figma</li>
            <li>Adobe XD</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="languages" class="row">
    <aside class="col-sm-3">
      <h3>Languages</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="language">
            <strong>English</strong>
          </div>
          <div class="fluency">
            good
          </div>
        </div>


      </div>
    </div>
  </section>

  <section id="interests" class="row">
    <aside class="col-sm-3">
      <h3>Interests</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="name">
            <h5></h5>
          </div>
          <ul class="keywords">
            <li>Code - Read </li>
<li> Design - Meetup</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
