<!-- <div class="name">Kondas Majid</div> -->
<ul>
    <li>
        <div class="name">Kondas Majid</div>
    </li>
</ul>
<ul class="nav">
    <!-- justify-content-center -->
    <li class="nav-item">
        <!-- <a [routerLink]="['/cv']" class="cv">CV</a> -->
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CV</a> -->
    </li>
    <li class="nav-item">
        <a class="nav-link  social" target="_blank" href="https://github.com/kondasMajid"><i class="fab fa-github"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-linkn social" target="_blank" href="https://twitter.com/kondasmajid"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-linkn social" target="_blank" href="https://www.linkedin.com/in/kondasmajid"><i class="fab fa-linkedin"></i></a>
    </li>
</ul>